/* 
	Global classes 
					*/
body {
	background-repeat: no-repeat;
	font-family: Helvetica, sans-serif;
}

/* 
	Options 
			*/

.header-bar{
	display:inline-flex;
}

.back-button{
	height:50%;
	margin:30px;
	float:left;
}
.game-page{
	text-align:center;
	font-size: 40px;
	color:black;
}

.game-container{
	width: 600px;
	margin: 20px;
	font-size: 30px;
	text-align: center;
	border-radius:20px;
	color:white;
	background-image: linear-gradient(purple 10%, white 40%);
}

.game-wrapper{
	display:inline-flex;
	height:500px;
}

.video{
	width:550px;
	height:300px;
}

.cover-pic{
	height:60%;
	width:75%;
}

.video-container{
	width: 600px;
	margin: 20px;
	font-size: 30px;
	border-radius:20px;
	color:white;
	background-image: linear-gradient(purple, white);
}