#Mainheading, #description {
position: relative;
text-align: center;

}

.fullbody{
  background-image: linear-gradient(45deg, rgb(187, 125, 187), rgb(228, 116, 213));
  width: 1000px;
}

.topnav{
  position: relative;
  width: 500px;
  left:400px;
  border: solid grey 2px;
  padding-left: -20px;
  background-color: white;
}
.puppyimages{

}

.picture{
   background-color: white; 
   border-radius: 25px;
}

.image {
    width: 700px;
    height: 750px;
    position: relative;
    
}

.button{
border: solid red 2px;
border-radius: 7px;
background-color: white;
}

.tomain{
  position: relative;
  bottom:80px;
}

.picture{
    position: relative;
    left: 300px;
    border: solid lightgrey 2px;
    padding: 5px;
    padding-left: 50px;
    margin: 5px;
    width: 800px;
   
}

.footer{
  text-align: center;
  position: relative;
  left: 200px;
}
